.page-title {
  color: transparent;
  text-align: center;
  font-weight: bold;
  background-image: url('../../assets/title-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;
  letter-spacing: 3px;
}
